html,
body {
    height: 100%;
    background-color: #FFF;
    min-width: 1005px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -36px;
    margin-left: -20px;
    overflow: hidden;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 35px;
}
.footer {
    background: rgb(79,79,79); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(79,79,79,1) 0%, rgba(68,68,68,1) 50%, rgba(43,43,43,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,79,79,1)), color-stop(50%,rgba(68,68,68,1)), color-stop(100%,rgba(43,43,43,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 50%,rgba(43,43,43,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 50%,rgba(43,43,43,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 50%,rgba(43,43,43,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 50%,rgba(43,43,43,1) 100%); /* W3C */
    color: #EEE;
    border-top: 1px solid #d4d4d4;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.footer-gradient {
    font-size: 14px;
    color: #333333;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-top: 1px solid #cccccc;
}
#footer .container {
    position: relative;
    width: 97%;
}

.container .credit {
    margin: 8px 0 0 20px;
    display: inline-block;
}
#footer .btn-group {
    margin: 6px 0 0 10px;
}
#footer .contacts {
    background: url("/img/contacts6.png") center 2px no-repeat;
    margin: 6px 0 0 10px;
    width: 36px;
    height:24px;
}
#footer .contacts:hover, .contacts:focus {
    border: 1px solid #999;
}

.fix-content-position {
    padding-left: 15px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .fix-content-position {
        padding-left: 49px;
    }
}
@media (max-width: 1199px) {
    .fix-content-position {
        padding-left: 15px;
    }
}

.topbg {
    background: url("/img/topbg.png") center center repeat-x;
    position: absolute;
    top: 0;
    height: 5px;
    width: 100%;
    min-width: 1005px;
}

.logo {
    background: url("/img/logo7.png") center center no-repeat;
    width: 299px;
    height: 70px;
    margin-left: -80px;
}

.logo:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    /*opacity: 0.8;*/
}

.jumbotron {
    margin-left: -2px !important;
    margin-top: -10px;
    text-align: center;
    width: 145px !important;
}

@media (max-width: 1199px) {
    .jumbotron {
        margin-left: -25px !important;
    }
}

.bottom-offset {
    margin-bottom: 20px;
}

/*Top menu start*/
.top-menu {
    height: 50px;
    margin: 35px 0 15px 135px;
    width: 970px;
}

.btn.btn-large:hover{
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}


@media (min-width: 1200px) and (max-width: 1500px) {
    .top-menu {
        margin: 35px 0 15px 133px;
    }
    button#btn1.btn.btn-large{
        width: 108px;
        margin-left: -50px;
        margin-right: -9px;
        margin-top: 8px;
    }

    button#btn2.btn.btn-large{
        width: 108px;
        margin-left:10px;
        margin-top:8px;
    }

    button#btn3.btn.btn-large{
        width: 108px;
        margin-left: -19px;
        margin-top: 8px;
    }


    a#btn4.btn.btn-large{
        width: 45px;
        margin-left:56px;
        margin-top: 8px;
    }
    a.btn.btn-large{
        width:45px;
        margin-left: 55px;

       margin-right: -55px;
       margin-top: 8px;


    }
    a#btn5.btn-large{
        margin-left: 8px;
        margin-left: 55px;
    }

}
@media (min-width: 1501px) {
    .top-menu {
        margin: 35px 0 15px 133px;
    }
    button#btn1.btn.btn-large{
        width: 108px;
        margin-left: -50px;
        margin-right: -9px;
        margin-top: 8px;
    }

    button#btn2.btn.btn-large{
        width: 108px;
        margin-left:10px;
        margin-top:8px;
    }

    button#btn3.btn.btn-large{
        width: 108px;
        margin-left: -19px;
        margin-top: 8px;
    }


    a#btn4.btn.btn-large{
        width: 45px;
        margin-left:56px;
        margin-top: 8px;
    }
    a.btn.btn-large{
        width:45px;
        margin-left: 55px;

        margin-right: -55px;
        margin-top: 8px;


    }
    a#btn5.btn-large{
        margin-left: 8px;
        margin-left: 55px;
    }

}

@media (max-width: 1199px) {
    .top-menu {
        margin: 35px 0 15px 117px;
        width: 770px;
    }
    button#btn1.btn.btn-large{
        width: 85px;
        margin-left: -78px;
        margin-right: 43px;
        margin-top: 8px;
    }
    button#btn2.btn.btn-large{
        width: 85px;
        margin-left:-42px;
        margin-top: 8px;
    }
    button#btn3.btn.btn-large{
        width: 85px;
        margin-left: 100px;
        margin-top: -36px;
    }

    a#btn4.btn.btn-large{
        width: 45px;
        margin-left: 59px;
        margin-right: -58px;
        margin-top: 8px;
    }
    a.btn.btn-large{
        width:45px;
        margin-left: 58px;
        margin-right: -58px;
        margin-top: 8px;


    }
    a#btn5.btn.btn-large{
        width: 45px;
        margin-left:58px;
        margin-top: 8px;
    }
}
/*Top menu end*/

/* Top menu buttons */
[class^="myicon-"],
[class*=" myicon-"] {
    background-image: url("/img/menu-sprite-small.png");
    background-position: -2px 1px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 29px;
    line-height: 14px;
    margin-top: -5px;
    vertical-align: text-top;
    width: 34px;
}

.myicon-category {
    background-position: -31px -1px;
}
.myicon-brands {
    background-position: -64px 0px;
}
.myicon-new {
    background-position: -97px 2px;
}
.myicon-favorites {
    background-position: -129px 2px;
}
.myicon-user {
    background-position: -162px 2px;
}
.myicon-partners {
    background-position: -223px 2px;
}
.myicon-logout {
    background-position: -190px 2px;
}

.btn-large {
    margin-right: 20px;
    padding: 5px 30px;
}
.btn:focus,
.logo:focus {
    outline: 1px auto #BDBDBD;
}


@media (max-width: 1199px) {
    .btn-large {
        margin-right: 10px;
        padding: 5px 20px;
    }
}

/*Carousel, images, slyder */
@media (min-height: 801px) {
    #main-page-slider {
        margin-top: 60px;
    }
}

.carousel {
    margin-bottom: 0;

}

.mycarousel-control {
    height: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 0px;
    cursor: pointer;
}
.mycarousel-control.left {
    left: -4150px;
}
.mycarousel-control.right {
    right: -4150px;
}

.carousel-inner {
    overflow: visible;
    height: 560px;
}

/* Waw slider start*/
.img-polaroid {
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* opera fix */
.carousel-inner > .active {
    top: 1px;
}

.carousel-inner > .prev.right,
.carousel-inner > .next.left  {
    opacity: 1;
    -webkit-transition: 0.47s ease-in-out left, 0.47s linear opacity, 0.47s linear top;
    -moz-transition: 0.5s ease-in-out left, 0.5s linear opacity, 0.5s linear top;
    -o-transition: 0.47s ease-in-out left, 0.47s linear opacity, 0.47s linear top;
    transition: 0.47s ease-in-out left, 0.47s linear opacity, 0.47s linear top;
}
.carousel-inner > .prev.right img,
.carousel-inner > .next.left img {
    width: 190px;
    -webkit-transition: 0.47s linear width;
    -moz-transition: 0.5s linear width;
    -o-transition: 0.47s linear width;
    transition: 0.47s linear width;
}

.item.hover-left,
.item.hover-right {
    display: block;
    top: 55px;
    position: absolute;
    width: 100%;
    z-index: 1000;
    -webkit-transition: 0.47s ease-in-out left, 0.47s linear top;
    -moz-transition: 0.45s ease-in-out left, 0.45s linear top;
    -o-transition: 0.47s ease-in-out left, 0.47s linear top;
    transition: 0.47s ease-in-out left, 0.47s linear top;
}
.item.hover-left img,
.item.hover-right img {
    opacity: 0.5;
    width: 190px;
    -webkit-transition: 0.47s linear width, 0.47s linear opacity;
    -moz-transition: 0.5s linear width, 0.5s linear opacity;
    -o-transition: 0.47s linear width, 0.47s linear opacity;
    transition: 0.47s linear width, 0.47s linear opacity;
}
.item.hover-left {
    left: -100%;
}
.item.hover-right {
    left: 100%;
}
.item.hover-right.hide-right {
    display: block;
    top: 55px;
    position: absolute;
    left: 139%;
}
.item.hover-left.hide-left {
    display: block;
    top: 55px;
    position: absolute;
    left: -139%;
}

.items-wrapper {
    width:1170px;
    -webkit-transition: 0.5s linear margin, 0.5s linear width, 0.5s linear padding;
    -moz-transition: 0.5s linear margin, 0.5s linear width, 0.5s linear padding;
    -o-transition: 0.5s linear margin, 0.5s linear width, 0.5s linear padding;
    transition: 0.5s linear margin, 0.5s linear width, 0.5s linear padding;
}
.item.hover-left  .items-wrapper {
    width:950px;
    margin: 0 0 0 200px;
}
.item.hover-right  .items-wrapper {
    width:950px;
    margin: 0 0 0 33px;
}
/*Waw slider end*/

/* Slider images start */
.img-wrapper {
    display: block;
    position: relative;
    width: 250px;
    -webkit-transition: 0.5s linear width;
    -moz-transition: 0.5s linear width;
    -o-transition: 0.5s linear width;
    transition: 0.5s linear width;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.no-image {

    width:240px;
    height: 153px;
    position: absolute;

}
/*.no-image:hover {
    background: url("/img/no-image-hover.png") no-repeat;
   margin-top: -10px;
    margin-left: -1px;

}*/

.item.hover-left .no-image, .item.hover-right .no-image {
    width: 175px;
    top: 7px;
    bottom: 7px;
}


@media (min-width: 1200px) and (max-width: 1500px) {
    .no-image {

        top: 7px;
        bottom: 7px;

    }
    .item.hover-left .no-image, .item.hover-right .no-image {
        width: 177px;
        height:105px;
        top: 7px;
        bottom: 7px;
    }

    .item.hover-left a.no-image-href, .item.hover-right a.no-image-href {
        position: absolute;
        display: block;
        width: 142px;
        height: 110px;


    }
}
@media (max-width: 1199px) {
    .item.hover-left .no-image, .item.hover-right .no-image {
        width: 130px;
    }
    .item.hover-left a.no-image-href, .item.hover-right a.no-image-href {
        position: absolute;
        display: block;
        width: 130px;
    }
}

@media (min-width: 1199px) {
    .item.hover-left .no-image, .item.hover-right .no-image {
        width: 130px;
    }
    .item.hover-left a.no-image-href, .item.hover-right a.no-image-href {
        position: absolute;
        display: block;
        width: 130px;
    }
}


.active .img-wrapper:hover .img-info {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.4s;
}

.hover-left  .img-wrapper:hover img,
.hover-right .img-wrapper:hover img  {
    opacity: 1;
}


.img-info{
transition: all .1s ease-out .1s;

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 2px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    padding: 10px 20px 5px 10px;
    cursor: pointer;
    color: #fff;}

.img-info p {
    line-height: 15px;
    font-size: 13px;
    margin: 0 15px 3px 0;
    margin-top: 77px;
    margin-bottom: -74px;
}

.ellipsis {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.post-link {
    color: #fff;
    text-decoration: none;
}
.post-link:hover {
    color: #fff;
}
.post-link:hover p{
    text-decoration: none;
}

.favorites-icon {
    display: block;
    position: absolute;
    height: 22px;
    width: 22px;
    right: 10px;
    top: 84px;
    cursor: pointer;
}

.favorites-icon-on {
    background: url("/img/favorites-sprite.png") no-repeat scroll -67px center transparent;
}
.favorites-icon-on:hover {
    background: url("/img/favorites-sprite.png") no-repeat scroll -45px center transparent;
}

.favorites-icon-off {
    background: url("/img/favorites-sprite.png") no-repeat scroll -23px center transparent;
}
.favorites-icon-off:hover {
    background: url("/img/favorites-sprite.png") no-repeat scroll -1px center transparent;
}

@font-face {
    font-family: NumberFont;
    src: url(/fonts/rusfont436.ttf); /* РџСѓС‚СЊ Рє С„Р°Р№Р»Сѓ СЃРѕ С€СЂРёС„С‚РѕРј */

}
.page-number {
    color: #888;
    display: none;
    margin: 10px 0;
    font-family: NumberFont;
}
.page-number span {
    margin-left: -40px;
}
.pluso{margin-bottom: 10px;}

@media (max-width: 1199px)  {

    @media (max-height: 640px) {
        #main-page-slider {
            margin-top: 20px;
        }
    }
    @media (min-height: 641px) and (max-height: 680px) {
        #main-page-slider {
            margin-top: 40px;
        }
    }
    @media (min-height: 681px) and (max-height: 720px) {
        #main-page-slider {
            margin-top: 60px;
        }
    }
    @media (min-height: 721px) {
        #main-page-slider {
            margin-top: 80px;
        }
    }

    .carousel-inner {
        height: 405px;
    }
    .item.hover-left .items-wrapper,
    .item.hover-right .items-wrapper {
        width: 820px;

    }
    .item.hover-right {
        left: 95%;
    }
    .item.hover-left img,
    .item.hover-right img {
        width: 140px;
    }
    .carousel-inner > .prev.right img,
    .carousel-inner > .next.left img {
        width: 190px;
    }
    .carousel-inner > .active.right {
        left: 95%;
    }
    .items-wrapper {
        margin-left: 60px;
        width: 820px;
    }
    .bottom-offset {
        margin-bottom: 10px;
    }
    .img-wrapper {
        width: 190px;
    }
    .img-polaroid {
        width: 190px;
    }
    .page-number {
        color: #888888;
        display: none;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        margin: 5px 0 5px 0;
    }

    .page-number span {
        margin-left: -13px;
    }
    /*.no-image:hover {
        background: url("/img/no_ad-hover.png") center center no-repeat !important;
    }*/
}

@media (min-width: 1200px) and (max-width: 1500px) {


    @media (max-height: 640px) {
        #main-page-slider {
            margin-top: 0px;
        }
    }
    @media (min-height: 641px) and (max-height: 680px) {
        #main-page-slider {
            margin-top: 20px;
        }
    }
    @media (min-height: 681px) and (max-height: 720px) {
        #main-page-slider {
            margin-top: 40px;
        }
    }
    @media (min-height: 721px) {
        #main-page-slider {
            margin-top: 60px;
        }
    }

    .carousel-inner {
        height: 450px;
    }
    .item.hover-left .items-wrapper {
        width: 750px;
        margin-left: 320px;
    }
    .item.hover-right .items-wrapper {
        width: 960px;
        margin-left: 20px;
        padding-left: 13px;
    }
    .item.hover-left {
        z-index: 10;
        left: -91%;
        width: 1100px;
    }
    .item.hover-right {
        left: 95%;
    }
    .item.hover-left img,
    .item.hover-right img {
        width: 220px;
    }
    .carousel-inner > .prev.right img,
    .carousel-inner > .next.left img {
        width: 220px;
    }
    .carousel-inner > .active.left {
        left: -91%;
    }
    .carousel-inner > .active.right {
        left: 95%;
    }
    .items-wrapper {
        margin-left: 95px;
        width: 960px;
    }
    .bottom-offset {
        margin-bottom: 10px;
    }

    .img-wrapper {
        width: 230px;
    }
    .item.hover-left .img-wrapper,
    .item.hover-right .img-wrapper {
        width: 180px;
    }

    .img-polaroid {
        width: 230px;
    }
    .page-number {
        color: #888888;
        display: none;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        margin: 45px 0 10px 0;
    }
    .page-number span {
        margin-left: -37px;

    }
}

/*fix IE 8 start*/
.ie-slider .top-menu {
    margin: 35px 0 15px 1px;
}
.ie-slider #main-page-slider {
    margin-top: 0px;
}
.ie-slider .carousel-inner .active {
    left: -130px;
}
.ie-slider .carousel-inner {
    height: 450px;
}
.ie-slider .item.hover-left .items-wrapper,
.ie-slider .item.hover-right .items-wrapper {
    width: 960px;

}
.ie-slider .item.hover-left {
    z-index: 10;
    left: -107%;
}
.ie-slider .item.hover-right {
    left: 95%;
}

.ie-slider .item.hover-left .span3,
.ie-slider .item.hover-right .span3 {
    width: 18%
}

.ie-slider .item.hover-left.hide-left {
    z-index: 10;
    left: -170%;
}
.ie-slider .item.hover-right.hide-right {
    left: 171%;
}

.ie-slider .item.hover-left img,
.ie-slider .item.hover-right img {
    width: 160px;
}
.ie-slider .item.hover-left .no-image,
.ie-slider .item.hover-right .no-image {
    width: 150px;
}
.ie-slider .carousel-inner > .prev.right img,
.ie-slider .carousel-inner > .next.left img {
    width: 200px;
}
.ie-slider .carousel-inner > .active.left {
    left: -107%;
}
.ie-slider .carousel-inner > .active.right {
    left: 95%;
}
.ie-slider .items-wrapper {
    margin-left: 95px;
    width: 960px;
}
.ie-slider .bottom-offset {
    margin-bottom: 10px;
}
.ie-slider .img-wrapper {
    width: 200px;
}
.ie-slider .img-polaroid {
    width: 200px;
}
.ie-slider .details-left .img-polaroid {
    width: 450px;
}
.ie-slider .page-number {
    color: #888888;
    display: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 15px 0;
}
.ie-slider .page-number span {
    margin-left: -80px;
}
.ie-slider .top-menu .span4 {
    width: 360px;
}
/*fix IE 8 end*/


/*fix firefox start*/
.firefox-slider .item.hover-left,
.firefox-slider .item.hover-right {
    top: 1px;
}
.firefox-slider .item.hover-left img, .firefox-slider
.item.hover-right img {
    opacity: 0.5;
    width: 180px;
    -webkit-transition: 0.5s linear width, 0.5s linear opacity;
    -moz-transition: 0.5s linear width, 0.5s linear opacity;
    -o-transition: 0.5s linear width, 0.5s linear opacity;
    transition: 0.5s linear width, 0.5s linear opacity;
}

.firefox-slider .item.hover-left {
    left: -149%;

}
.firefox-slider .item.hover-right {
    left: 149%;
}

.firefox-slider .item.hover-left.hide-left {
    left: -139%;
}
.firefox-slider .item.hover-right.hide-right {
    left: 139%;
}

.firefox-slider .item.hover-left .items-wrapper,
.firefox-slider .item.hover-right .items-wrapper {
    margin: 0;
    width: inherit;
    -moz-transition: 0.5s linear margin, 0.5s linear width, 0.5s linear padding;
}
/*.firefox-slider .item.hover-left img,
.firefox-slider .item.hover-right img {
    width: inherit;
}*/
.firefox-slider .item.hover-left .no-image,
.firefox-slider .item.hover-right .no-image {
    width: 240px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .firefox-slider .item.hover-left {
        left: -83%;
        margin-top: 45px;

    }
    .firefox-slider .item.hover-right {
        left: 93%;
        margin-top: 45px;
    }
    .firefox-slider .item.hover-left .no-image,
    .firefox-slider .item.hover-right .no-image {
        width: 210px;
    }
    .firefox-slider .item.hover-left .img-wrapper,
    .firefox-slider .item.hover-right .img-wrapper {
        width: 190px;
    }
    .firefox-slider .item.hover-left.hide-left {
        left: -199%;
    }
    .firefox-slider .item.hover-right.hide-right {
        left: 199%;
    }
}
@media (max-width: 1199px) {
    .firefox-slider .item.hover-left {
        left: -96%;
        margin-top: 45px;
    }
    .firefox-slider .item.hover-right {
        left: 99%;
        margin-top: 45px;
    }
    .firefox-slider .item.hover-left .no-image,
    .firefox-slider .item.hover-right .no-image {
        width: 190px;
    }
}

/*fix firefox end*/

.no-data {
    margin-top: 100px;
    color: #888;
    display: none;
}
/* Slider images end*/


/* Other */
.lock-loading {
    display: none;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2040;
    background: url("/img/loading64.gif") center center no-repeat;
}

.lock-gray {
    display: none;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2040;
    opacity: 0;
    background-color: gray;
}

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

/* Forms start*/
dl dt {
    color: #999999;
    margin-left: 10px;
}
dl dt label {
    margin: 0px;
}
input[type="file"] {
    height: auto;
}
input[type="submit"] {
    padding: 3px 10px;
}

.input-block-level-date {
    width: 250px;
}

ul.errors {
    margin-left: 0;
}
.errors li {
    color: #D14;
    list-style-type: none;
    line-height: 10px;
}
textarea {
    height: 150px !important;
}
/* Forms end*/

/*partner menu start*/
.nav-pills {
    width: 820px;
    margin: 0 auto 20px;
}
.nav-wide {
    width: 940px;
}
@media (min-width: 1500px) {
    .nav-wide {
        width: 915px;
    }
}

.nav-pills > li {
    margin-left: 15px;
}

/*check on new mozilla*/
.tab-content #media {
    overflow: hidden;
}
/*partner menu end*/

/* Item details start */
.details-left {
    overflow: hidden;
}
.details-left img,
.details-left iframe {
    width: 450px;
    
}

.details-left a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .details-left img,
    .details-left iframe {

        margin-left: 9px;
        max-height:100%;
    }
}

@media (max-width: 1199px) {
    .details-left {
        width: 350px;
    }
    .details-left img,
    .details-left iframe {
        width: 340px;
    }
    .details-right {
        width: 570px;
    }
    div.span6.details-right{margin-left: 60px !important; width: 55%;  }
}
.details-right div {
    text-align: justify;
    margin-left: 0px;
}

div.span6.details-right{margin-left: -85px; width: 55%;  }
.details-right h4 {
    margin: 0 0 10px 0;

}

.details-right .favorites-icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    cursor: pointer;
    position: relative;
    right: -7px;
    top: 5px;
}

a.pluso-more{display: none !important;}
.leftMargin {
    margin-top: 20px;
    margin-left: 5px;
}
/* Item details end */


/*Success and Error msg*/
.footer-message  {
    position : fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-top-width: 2px;
}

.footer-message .block-label {
    padding: 25px 0;
}

/* Modal window */
.modal {
    margin-left: -410px;
    width: 820px;
}

#regions-modal.modal {
    margin-left: -485px;
    width: 970px;
    top: 5%;
}
#regions-modal .modal-header {
    height: 47px;
    border: 0;
    padding-bottom: 0;
}
#regions-modal .modal-body {
    max-height: 485px;
    padding-top: 0;
    margin-left: -9px;
}
#brands-modal .modal-body {
    max-height: 530px;
    height: 454px;
}

#brands-group-list {
    padding-left: 50px;
}
#brands-group-list .category-wrapper {
    width: 255px;
}
#brands-letters {
    margin: 0px;
}
.left-arrow,
.right-arrow {
    background: url("/img/arrows.png");
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 70px;
}
.left-arrow {
    background-position: 1px 1px;
    left: 15px;
    top: 275px;
}
.right-arrow {
    background-position: -43px 1px;
    right: 15px;
    top: 275px;
}

#action-address-modal img {
    max-width: none;
}

#action-address-modal .modal-body {
    height: 400px;
}

#action-address-modal .map_canvas {
    height: 400px;
    margin-right: 20px;
}

#action-address-modal .location_item {
    cursor: pointer;
    margin-bottom: 15px;
}

#full-description-modal.modal,
#action-address-modal.modal	{
    top: 90px;
}

/*categories filters*/
#filters-modal.modal,
#brands-modal.modal {
    width: 1020px;
    margin-left: -510px;
    top: 90px;
}
.top-offset {
    margin-top: -5px;
}

.ukraine-icon {
    background: url("/img/ukraine-flag-light.png") 0px -2px;
    background-repeat: no-repeat;
    height: 45px;
    width: 52px;
    float: left;
}
.shopping-icon {
    background: url("/img/shopping_cart.png") -3px -1px;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    float: left;
}
.services-icon {
    background: url("/img/preferences-system.png") 5px -1px;
    background-repeat: no-repeat;
    height: 48px;
    width: 63px;
    float: left;
}
.shopping-icon2 {
    background: url("/img/shopping_cart2.png") -3px -1px;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    float: left;
}
.services-icon3 {
    background: url("/img/preferences-system2.png") 5px -1px;
    background-repeat: no-repeat;
    height: 48px;
    width: 63px;
    float: left;
}
.counter {
    display: none;
}

.filter-list {
    border-top: 1px solid #DDD;
    padding-top: 20px;
}

.category-group {
    height: 45px;
    cursor: pointer;
}
.category-group.span4 {
    width: 370px;
}
.category-group-inactive {
    padding: 9px 36px 9px 15px;
}

.category-group-inactive:hover {
    padding: 8px 35px 8px 14px;
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

}
.category-group .counter {
    font-size: 21px;
}
.category-group.alert .counter {
    display: inline-block;
}
.category-group-text {
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    white-space: nowrap;
    margin: 13px 0;
}

.category-wrapper {
    width: 270px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.category-wrapper:hover {
    background-color: #eee;
}

.category-wrapper:hover span.counter,
.category-group:hover span.counter {
    text-decoration: none;
    display: inline-block;
    clear: both;
}

.brands-letters-wrapper {
    width: 1020px;
    margin: 0 auto;
    height: 25px;
    line-height: 25px;
}

.brands-letters {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 4px;
    cursor: pointer;
}

.brands-button {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.no-brand-data {
    margin: 30px 0;
    font-size: 16px;
    font-weight: bold;
}
.flagi-right .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* Language switcher */
#lng-switcher.dropdown-menu {
    min-width: 34px;
}
#lng-switcher.dropdown-menu > li > a {
    padding: 3px 5px;
}
#lng-switcher.dropdown-menu > li > a:hover,
#lng-switcher.dropdown-menu > li > a:focus {
    background-color: #C0C0C0;
    background-image: url("/img/lang.png");
    background-repeat: no-repeat;
}

.lng {
    background: url("/img/lang.png") no-repeat 5px 0px;
    width: 24px;
    height: 17px;
}
#lng-btn.lng {
    width: 36px;
    height: 25px;
}
#lng-btn.btn:hover, .btn:focus {
    border: 1px solid #999;
}
.ru {
    background-position: 5px -21px !important;
}
.ua {
    background-position: 5px 0px !important;
}
.en {
    background-position: 5px -41px !important;
}
.btn-group.open  #lng-btn.dropdown-toggle {
    background-image: url("/img/lang.png");
}
#lng-btn.btn.active,
#lng-btn.btn:active {
    background-image: url("/img/lang.png");
}
.gray {
    color: #999;
}

/* Contacts */
.contacts {
    margin-top: 80px;
    margin-left: -100px;

}

.contacts address {
    width: 250px;
    margin-left: 30px;
}
.fb {
    background-image: url("/img/fb.png");
    position: absolute;
    width: 42px;
    height: 42px;
    margin-top: 20px;
}
.vk {
    background-image: url("/img/vk.png");
    position: absolute;
    margin-top: 20px;
    margin-left: 55px;
    width: 42px;
    height: 42px;
}
.twitter {
    background-image: url("/img/twitter.png");
    position: absolute;
    margin-top: 20px;
    margin-left: 110px;
    width: 42px;
    height: 42px;
}
[class^="cicon-"], [class*=" cicon-"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    margin-right: 8px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 16px;
}
.cicon-phone {
    background-image: url("/img/phone.png");
}

.cicon-mail {
    background-image: url("/img/mail.png");
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/img/glyphicons-halflings.png");
}
.icon-globe {
    background-position: -336px -144px;
}

.add_address:hover {
    cursor: pointer;
    background: #ccc;
}
.additional_address{
    border: 2px solid #eee;
    margin-top: -5px;
}
#form_address{
    list-style: none;
}
    a.no-image-href{
    display: block;
        width: 240px;
        height: 153px;
    position: absolute;
        text-align: center;

}
